extends ./home.jade

block content

  .container-fluid
    h1.text-center Home
  .row
    each message in messages
      .bs.col-md-4(data-id='media-list')
        ul.media-list.card.person(data-ident='#{message.ident}')
          li.media
            .media-left
            a(href='#')
            img.media-object(data-src='holder.js/64x64', alt='64x64', src='http://www.gravatar.com/avatar/#{grav}', data-holder-rendered='true', style='width: 64px; height: 64px;')
            .media-body
                h4.media-heading #{message.user}
                  p  #{message.message}
                  p  #{message.date}
